<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:property-placeholder location="classpath:jdbcConfig/jdbc.properties"/>


 	<bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
		<property name="driverClassName" value="${jdbcHikariLog.driverClassName}"></property>
		<property name="jdbcUrl" value="${jdbcHikariLog.jdbcUrl}"></property>
		<property name="username" value="${jdbcHikariLog.username}"></property>
		<property name="password" value="${jdbcHikariLog.password}"></property>
	</bean>


	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<constructor-arg ref="hikariConfig" />
	</bean>



	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
	
		<property name="mapperLocations">
			<list>
				<value>classpath:org/zerock/ex00/mapper/MyBoardMapper.xml</value>
			    <value>classpath:org/zerock/ex00/mapper/MyReplyMapper.xml</value>
			    <value>classpath:org/zerock/ex00/mapper/MyBoardMapperDAO.xml</value>
			    
			</list>
		</property>
	</bean>
	
	<mybatis-spring:scan base-package="org.zerock.ex00.mapper"/>


	<!-- MyBoardDAO 용 -->
	<bean id="sqlSession"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
	</bean>

	<!-- 스프링 트랜잭션 기능 활성화 -->
	<tx:annotation-driven/>
	
	<!-- Spring Transaction 관리자 빈(dataSource빈을 주입받음) -->
	<bean id="transactioMnager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

</beans>
