<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!-- 	<typeAliases>
		<typeAlias alias="myBoard" type="org.zerck.ex00.domain.MyBoardVO"/>
	</typeAliases> -->

	<!-- 데이터베이스 연결을 설정합니다. -->
	<!-- 여러개의 연결 설정을 구성할 수 있음, 단 id가 달라야 함 -->
	<!-- SqlSessionFactory 생성 시에 SqlSessionFactoryBuilder 에
		 environment environment 옵션을 주지 않을 때, 디폴트로 로드되는 환경의 id를 default 설정 -->
	
	<mappers>
		<!-- SQL문이 설정된 매퍼XML 파일을 읽음 -->
		<!-- src를 상대경로 기준으로 매퍼파일이 존재하는 경로와 매퍼파일명을 기술 -->
		<!-- <mapper resource="org/zerock/ex00/mapper/MyBoardMapper.xml"/> -->
	</mappers>
</configuration>







